/* styles.css */

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form-control {
    width: 80%;
}

.contenedor-icono {
    position: absolute;
    cursor: pointer;
    right: 180px;
    top: 50%;
    transform: translateY(-50%);
}

.input-group:hover .form-control {
    border-color: #000;
    /* Cambia aquí al color que prefieras (negro) */
}