<div class="alert alert-info">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h3 routerLink="/home" class="cursor-pointer">
                    <img src="/assets/images/logo.png" alt="logo" height="150" width="150">
                </h3>
            </div>
            <div class="col md-8">
                <form (submit)="buscarPeliculas($event)">
                    <input type="text" name="movieTitle" class="form-control" autofocus placeholder="Buscar Películas" [(ngModel)]="movieTitle">
                </form>
            </div>
        </div>
    </div>
</div>