body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columna {
    width: 350px;
}

.columna h1 {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    font-family: italic;
    margin-bottom: 10px;
}

.field {
    margin: auto;
    width: 300px;
    margin-top: 20px;
}

.control {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
}

@media(max-width: 400px) {
    .columna {
        width: 90%;
    }
}

form{
    background-color: black;
}