body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form {
    width: 400px;
    height: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.register_form h1 {
    font-family: italic;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.field {
    margin: auto;
    width: 300px;
}

input {
    margin-bottom: 10px;
}

.control {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
}

.control .porDefecto {
    display: none;
}
