.alerta{
    text-align: center;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form_secundario .alerta{
    transform: translate(-10%, 0%);
}