<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Compartenos tu opinión acerca de esta película</h3>
        </div>
        <div class="card-body">
            <form class="form-group">
                <div class="form-controls">
                    <span></span>
                    <label for="coment">Escribe tu opinión al respecto</label>
                    <input type="text" class="form-control" name="coment" id="coment" [(ngModel)]="review.comentario" required minlength="4" maxlength="60" #nombre="ngModel">
                    <p></p>
                </div>
                <button (click)="guardarSubmit()" class="btn btn-primary ">Añadir</button>
                <button (click)="Regresar() " class="btn btn-danger " style="margin-left: 10px; ">Cancelar</button>
            </form>
        </div>
    </div>
    <p></p>
</div>