<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Compartenos tu opinión acerca de esta película</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="for-group">
                    <label for="coment"></label>
                    <textarea name="coment" class="form-control"></textarea>
                    <p></p>
                </div>
                <button class="btn btn-primary" defaultHref="/">Añadir</button>
                <button (click)="Regresar()" class="btn btn-danger" style="margin-left: 10px;">Cancelar</button>
            </form>
        </div>
    </div>
    <p></p>
</div>